<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:fragment="header(title,links)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title th:replace="${title}"></title>

    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <!--<script th:src="@{/bootstrap/js/bootstrap.min.js}" defer></script>-->

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

    <th:block th:replace="${links}"/>
</head>
<body>
<div th:fragment="global-error"
     th:if="${#fields.hasGlobalErrors()}"
     th:each="error : ${#fields.errors('global')}">

    <p class="modal-header alert-danger" th:text="${error}">Validation error</p>
</div>
</body>
</html>