<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: header(~{},~{::custom})">
    <script th:fragment="custom" th:src="@{/jquery/jquery-3.3.1.min.js}"></script>
    <script th:fragment="custom" th:src="@{/js/i18n_ru.js}"></script>
    <script th:fragment="custom" th:src="@{/js/events.js}"></script>
    <script th:fragment="custom" th:src="@{/js/timer.js}" defer></script>
</head>
<body>
<div th:replace="common :: global-error"></div>
<div class="container" id="event-container">
    <button id="add-event" onclick="addUserEvent()">Add event</button>
    <div class="card m-3 js-event"
         th:classappend="${event.overdue} ? 'bg-danger text-white'"
         th:each="event : ${events}">
        <div class="card-header" th:utext="#{|event.type.${event.type.name}|}">Title</div>
        <div class="card-body row justify-content-between">
            <div class="col-4">
                <h5 class="card-title" th:text="${#strings.abbreviate(event.description,25)}">
                    Title</h5>
                <p class="card-text js-startTime"
                   th:attr="data-start-time=${event.startTime}"
                   th:text="${event.startTime}">Date</p>
            </div>
            <input class="card-text col-4" type="checkbox" id="is-event-done"
                   th:checked="${event.done}">
        </div>
        <div class="card-footer text-center p-0">
            <a class="btn btn-block bg-transparent p-0 text-monospace"
               th:classappend="${event.overdue} ? 'text-white'"
               onclick="$(this).text($(this).text()==='▼'?'►':'▼')">
                ►
            </a>
        </div>
    </div>
</div>
</body>
</html>