<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common :: header(~{::title},~{::link})">
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/signin.css}">
</head>
<body class="text-center">
<div class="container-fluid">
    <div class="container">
        <form class="form-signin" th:action="@{/login}" method="post" autocomplete="on">
            <h1 class="h3 mb-3 font-weight-normal">Welcome to Papus</h1>
            <hr>
            <div class="pt-4 pb-4">
                <div class="alert-danger pb-2 pt-2 mb-2" th:if="${#request.getParameter('error')}">
                    Invalid username and password.
                </div>
                <div class="alert-info pb-2 pt-2 mb-2" th:if="${#request.getParameter('logout')}">
                    You have been logged out.
                </div>
                <input class="form-control" type="text" name="username"
                       placeholder="Username" autofocus required/>
                <input class="form-control" type="password" name="password" placeholder="Password"
                       required/>
                <a th:href="@{/register}" class="btn btn-link btn-lg" th:text="#{register}">Sign
                    Up</a>
                <input class="btn btn-success btn-lg btn-block" type="submit" value="Sign In"
                       th:value="#{singin}"/>
            </div>
            <hr>
            <p class="mt-2 text-muted" style="margin-bottom: 0">&copy; 2018</p>
        </form>
    </div>
</div>
</body>
</html>