<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common :: header(~{::title},~{})">
    <title>Registration</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h1 th:text="#{register.title}"></h1>
            <form th:action="@{/register}" th:object="${user}" method="post" autocomplete="on">

                <div th:replace="common :: global-error"></div>
                <div class="form-group">
                    <label for="login" class="control-label" th:text="#{user.login}"></label>
                    <input id="login"
                           class="form-control"
                           th:classappend="${#fields.hasErrors('login')}? 'is-invalid'"
                           th:field="*{login}"
                           required/>
                    <p class="invalid-feedback"
                       th:each="error: ${#fields.errors('login')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label" th:text="#{user.password}"></label>
                    <input id="password"
                           class="form-control"
                           th:classappend="${#fields.hasErrors('password')}? 'is-invalid'"
                           type="password"
                           name="new-password"
                           autocomplete="new-password"
                           th:field="*{password}"
                           required/>
                    <p class="invalid-feedback"
                       th:each="error : ${#fields.errors('password')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group">
                    <label for="confirmPassword" class="control-label"
                           th:text="#{user.confirmPassword}"></label>
                    <input id="confirmPassword"
                           class="form-control"
                           th:classappend="${#fields.hasErrors('confirmPassword')}? 'is-invalid'"
                           type="password"
                           autocomplete="new-password"
                           th:field="*{confirmPassword}"
                           required/>
                    <p class="invalid-feedback"
                       th:each="error : ${#fields.errors('confirmPassword')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group">
                    <label for="phone" class="control-label" th:text="#{user.phone}"></label>
                    <input id="phone"
                           class="form-control"
                           th:classappend="${#fields.hasErrors('phone')}? 'is-invalid'"
                           type="tel"
                           th:field="*{phone}"/>
                    <p class="invalid-feedback"
                       th:each="error : ${#fields.errors('phone')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label" th:text="#{user.email}"></label>
                    <input id="email"
                           class="form-control"
                           th:classappend="${#fields.hasErrors('email')}? 'is-invalid'"
                           type="email"
                           th:field="*{email}"/>
                    <p class="invalid-feedback"
                       th:each="error : ${#fields.errors('email')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group">
                    <label for="confirmEmail" class="control-label"
                           th:text="#{user.confirmEmail}"></label>
                    <input id="confirmEmail"
                           class="form-control"
                           th:classappend="${#fields.hasErrors('confirmEmail')}? 'is-invalid'"
                           type="email"
                           th:field="*{confirmEmail}"/>
                    <p class="invalid-feedback"
                       th:each="error : ${#fields.errors('confirmEmail')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success"
                            th:text="#{button.register}"></button>
                    <span th:text="#{register.alreadyRegistered}"></span>
                    <a th:href="@{/login}" th:text="#{singin}">Login here</a>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>