<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="common :: header(~{::title},~{})">
    <title>Papus</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Spring Boot</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1>Spring boot web and Thymeleaf demo</h1>
    <h2>
        <span th:text="'Message: ' + #{message}"></span>
    </h2>
    <a class="btn btn-primary m-3" th:href="@{/events}">Events</a>
    <table>
        <tr th:each="user : ${users}">
            <td th:text="${user.login}"></td>
        </tr>
    </table>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out">
    </form>
</div>
</body>
</html>